<div class="jumbotron">
    <div class="text-center">
        <h1>Log in</h1>
    </div>
</div>

<div class="alert alert-danger" ng-if="errorMessage">
    {{ errorMessage }}
</div>


<form role="form" ng-submit="controller.login()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text" class="form-control" submissionId="username" name="username" ng-model="controller.credentials.username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password" class="form-control" submissionId="password" name="password" ng-model="controller.credentials.password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
