<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../css/gifkrieg.css"/>
</head>
<body>


<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Gifkrieg</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#leaderboard">Leaderboard</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="hasAuthority('ROLE_USER')"><a href="/">Your GIFs</a></li>
                <li sec:authorize="hasAuthority('ROLE_USER')"><a href="/">Your Stats</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/">Admin</a></li>
                <li class="dropdown" sec:authorize="!hasRole('ROLE_USER')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or
                                    <form class="form" role="form" method="post" th:action="@{/login}" accept-charset="UTF-8"
                                          id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                   placeholder="Username" th:required="required"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                   placeholder="Password" th:required="required"/>
                                            <div class="help-block text-right"><a href="">Forget the password ?</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> keep me logged-in</input>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    New here ? <a href="/register"><b>Join Us</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" sec:authorize="hasRole('ROLE_USER')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name">miquel</span> <span
                            class="caret"></span></a>
                    <ul id="user-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" method="post" th:action="@{/logout}"
                                          id="logout-nav">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Log Out</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div layout:fragment="content">
        <h1>Default Content</h1>
    </div>
</div>




<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                You are an administrator
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                You are a user
            </div>
            <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                You are anonymous
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>