<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="default" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity3">
<head>
    <title>Gifkrieg</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <div class="text-center">
            <h1>Oh, fuck!</h1>
            <img src="http://www.reactiongifs.com/r/lolof1.gif"/>
            <p>Something has gone very, very wrong.</p>
        </div>

    </div>
    <span th:text="${error}"></span>
</div>
</body>
</html>