<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="default" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity3">
<head>
    <title>Gifkrieg</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Hello world for index!</h1>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        You are an administrator
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        You are a user
    </div>
    <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
        You are anonymous
    </div>

    <table>
        <tr th:each="challenge : ${currentChallenges}">
            <td th:text="${challenge.id}"></td>
            <td th:text="${challenge.cardText}"></td>
        </tr>
    </table>

</div>
</body>
</html>